<img class="section-image" src="/assets/images/view1.jpeg">
<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Accommodations
            </mat-panel-title>
            <mat-panel-description>
                
            </mat-panel-description>
        </mat-expansion-panel-header>
        i think airbnb should go here.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Airbnb
            </mat-panel-title>
            <mat-panel-description>
                There are a few Airbnb locations in the surrounding area. 
            </mat-panel-description>
        </mat-expansion-panel-header>
        this makes more sense in the Accommodations section, since its technically the same thing.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Local recommendations
            </mat-panel-title>
            <mat-panel-description>
                If you are planning to stay in the area, here are a few local restaurants, breweries, and attractions that we recommend!
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            <strong>
                Food / Drinks:
            </strong>
        </p>
        <a href="https://www.stewartstownsmokehouse.com" target="_blank">Stewartstown Smokehouse</a> <br>
        <a href="https://www.aviatorpa.com" target="_blank">Aviator Brew Hub</a> <br>
        <a href="https://www.slatefarmbrewery.com" target="_blank"> Slate Farm Brewery</a> <br>
        <a href="https://www.fallingbranch.beer" target="_blank">Falling Branch Brewery</a> <br>
        <a href="http://www.madonnaseafood.com" target="_blank">Madonna Seafood</a> <br>
        <a href="https://www.bleighscoffee.com" target="_blank">B Leigh’s Coffee</a> <br>
        <a href="https://www.jarrettsvillecreamery.com" target="_blank">Jarrettsville Creamery & Deli</a> <br>
        <a href="https://www.jvgrille.com" target="_blank">J’Ville Grille</a>
        <br>
        <p><strong>Attractions</strong></p>
        <a href="https://dnr.maryland.gov/publiclands/Pages/central/rocks.aspx" target="_blank">Rock State Park</a> <br>
        <a href="https://dnr.maryland.gov/publiclands/Pages/central/GunpowderFalls/Hereford-Area.aspx" target="_blank">Gunpowder Falls State Park</a> <br>
        <a href="https://dnr.maryland.gov/publiclands/Pages/central/Rocks/Falling-Branch.aspx" target="_blank">Kilgore Falls</a>

    </mat-expansion-panel>

</mat-accordion>