<mat-list class="party-list" role="list">
    <mat-list-item role="listitem">Michael Dellone (Bro of Honor)
    </mat-list-item>
    <mat-list-item role="listitem">Katie Cohen (Bridesmaid)
    </mat-list-item>
    <mat-list-item role="listitem">Ligaya Corpuz-Williams (Bridesmaid)
    </mat-list-item>
    <mat-list-item role="listitem">Emily Dellone (Bridesmaid)
    </mat-list-item>
    <mat-list-item role="listitem">Erin McGowan (Bridesmaid)
    </mat-list-item>
    <mat-list-item role="listitem">Abby Suter (Bridesmaid)
    </mat-list-item>
    <mat-list-item role="listitem">Ashley Thiess (Bridesmaid)
    </mat-list-item>
    <mat-list-item role="listitem">George Thiess (Bridesman)
    </mat-list-item>
    <mat-list-item role="listitem">Kris Pirozzi (Best Man)
    </mat-list-item>
    <mat-list-item role="listitem">Ben Cardwell (Groomsman)
    </mat-list-item>
    <mat-list-item role="listitem">Sean Carter (Groomsman)
    </mat-list-item>
    <mat-list-item role="listitem">Chuck Csejka (Groomsman
    </mat-list-item>
    <mat-list-item role="listitem">Anthony Del Grande (Groomsman)
    </mat-list-item>
    <mat-list-item role="listitem">Nate Erb (Groomsman)
    </mat-list-item>
    <mat-list-item role="listitem">Kai Leibfried (Groomsman)
    </mat-list-item>
    <mat-list-item role="listitem">Marc Wilson (Groomsman)
    </mat-list-item>
    <mat-list-item role="listitem">Riley Wirtanen (Flower Girl)
    </mat-list-item>
    <mat-list-item role="listitem">Colton Wirtanen (Ring Bearer)
    </mat-list-item>
    <mat-list-item role="listitem">Hunter Duncan (Ring Bearer)
    </mat-list-item>
</mat-list>