<img class="section-image" src="/assets/images/view2.jpeg">
<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Location
            </mat-panel-title>
            <mat-panel-description>
                Where is the wedding?
                <mat-icon>location_on</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            Pond View Farm
        </p>
        <p>
            2601 Jolly Acres Rd
        </p>
        <p>
            White Hall, MD 21161
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Parking
            </mat-panel-title>
            <mat-panel-description>
                Where can I park?
                <mat-icon>directions_car</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        There will be parking on site. Please plan to park in the general parking meadow area, handicap parking will be
        available for those who need it by the barn/ pavilion.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Directions
            </mat-panel-title>
            <mat-panel-description>
                How do I get there?
                <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
            <strong>
                From Baltimore/ York:
            </strong>
        </p>
        <p>From I- 83 take Exit 36 onto MD- 439.</p>

        <p>Turn LEFT onto MD- 439 E, continue 6.8 miles.</p>
        <p> Turn LEFT onto MD- 23 N, continue 4.3 miles.
        </p>
        <p>Turn RIGHT onto Jolly Acres Rd, Pond View Farm will be 0.7 miles ahead on the RIGHT</p>

        <br>
        <p><strong>From I- 95:</strong></p>
        <p>From I- 95 take Exit 74 toward MD- 152.</p>
        <p>Turn LEFT onto MD- 152, continue 14.2 miles.</p>
        <p>Turn RIGHT onto MD- 146, continue 1.7 miles.</p>
        <p>Turn LEFT onto MD- 23 N for 7.7 miles.</p>
        <p>Turn RIGHT onto Jolly Acres Rd, Pond View Farm will be 0.7 miles ahead on the RIGHT</p>
        <br>
        <p><strong>From Bel Air, MD:</strong></p>
        <p>Start on MD- 24 N.</p>
        <p>Turn LEFT onto MD- 23 W, continue for 4.8 miles.</p>
        <p>Turn RIGHT onto Baldwin Mill Rd., continue for 1.3 miles.</p>
        <p>Turn RIGHT onto Baldwin Mill Rd., continue for 1.3 miles.</p>
        <p>Turn LEFT onto MD- 23 N, continue for 10 miles.</p>
        <p>Turn RIGHT onto Jolly Acres Rd, Pond View Farm will be 0.7 miles ahead on the RIGHT
        </p>
    </mat-expansion-panel>

</mat-accordion>