
<ks-carousel [id]="102" [images]="imagesRect" [config]="LIBCONFIG102">
  </ks-carousel>
  <div class="center-text section-header">
    <h2 class="cursive-header">Peyton Denlinger & Kayla Dellone</h2>
    <h3>November 23, 2024</h3>
    <h3>White Hall, Maryland</h3>
    <h3 *ngIf="daysDisplay">{{daysDisplay}} Days to go!</h3>
  </div>

  <mat-card class="count-down-timer">
    <h2>In honor of Kayla’s Polish ancestry, we will be honoring Polish tradition by having krusciki and a czepek dance (apron dance).</h2>
</mat-card>
  
